.header {
	padding-top: 10px;
	padding-left: 80px;
	padding-right: 80px;
	text-align: center;
	display: flex;
    align-items: center;
	background: white;
	color: #E10800;
	font-size: 40px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
  }

.header img {
    margin-right: 10px;
    /* Set maximum width and height for the image */
    max-width: 320px; /* Set your desired maximum width */
    max-height: 320px; /* Set your desired maximum height */
}

.divider {
	padding-top: 5px;
	background: #E10800;
}

.padding {
	padding: 70px;
}

.body-top{
	height: 380px;
	background-image: url('../images/background-top.png');
	background-repeat: no-repeat;
	background-color: black;
	background-position-x: center;
	display: flex;
    justify-content: center;
}

.body{
	height: 750px;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-color: black;
	background-position-x: center;
	display: flex;
    justify-content: center;
}

.body-tracks{
	height: 1600px;
	background-image: url('../images/background.png');
	background-repeat: repeat-y;
	background-color: black;
	background-position-x: center;
	display: flex;
    justify-content: center;
}

.body-champions{
	height: 1750px;
	background-image: url('../images/background.png');
	background-repeat: repeat-y;
	background-color: black;
	background-position-x: center;
	display: flex;
    justify-content: center;
}

.body-bottom{
	height: 300px;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-color: black;
	background-position-x: center;
	display: flex;
    justify-content: center;
}

.box-top{
	margin-top: 200px;
	height: 170px;
	width: 920px;
	background-color: white;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	color: #E10800;
	font-size: 26px;
	font-family: 'Titillium Web', sans-serif;
}

.box{
	margin-top: 50px;
	height: 700px;
	width: 1000px;
	background-color: white;
	text-align: center;
	color: #E10800;
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
}

.box-tracks{
	margin-top: 50px;
	height: 1500px;
	width: 1000px;
	background-color: white;
	text-align: center;
	color: #E10800;
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
}

.box-champions{
	margin-top: 50px;
	height: 1650px;
	width: 1000px;
	background-color: white;
	text-align: center;
	color: #E10800;
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
}

.box-bottom{
	margin-top: 50px;
	height: 120px;
	width: 1000px;
	background-color: white;
	text-align: center;
	color: #E10800;
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
	padding: 30px;
}

.grid-container-template {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Creates columns with minimum width of 200px and equal distribution */
    grid-gap: 20px; /* Gap between grid items */
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
    padding: 20px; /* Padding around the grid */
}

.grid-item-template {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

.grid-container-tracks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px; /* Gap between grid items */
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.grid-item-tracks-map {
    height: 350px; /* Adjust the height as needed */
    width: 275%; /* Takes full width of the grid cell */
    background-color: #3498db;
    color: black;
    text-align: center;
}

.grid-item-tracks-map-text {
    height: 350px; /* Adjust the height as needed */
    width: 100%; /* Takes full width of the grid cell */
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
	margin-left: 195%;
	font-size: 16px;
}

.grid-item-tracks-graph {
    height: 250px; /* Adjust the height as needed */
    width: 275%; /* Takes full width of the grid cell */
    background-color: white;
    color: black;
    text-align: center;
	margin-left: 20%;
}

.grid-item-tracks-graph-text {
    height: 250px; /* Adjust the height as needed */
    width: 100%; /* Takes full width of the grid cell */
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
	font-size: 16px;
}

.grid-container-champions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Creates columns with minimum width of 200px and equal distribution */
    grid-gap: 20px; /* Gap between grid items */
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
    padding: 20px; /* Padding around the grid */
}

.grid-item-champions-graph {
    height: 350px; /* Adjust the height as needed */
    width: 250%; /* Takes full width of the grid cell */
    background-color: #3498db;
    color: black;
	padding-bottom: 20px;
    text-align: center;
}

.grid-item-champions-side {
    height: 350px; /* Adjust the height as needed */
    width: 100%; /* Takes full width of the grid cell */
    background-color: white;
    color: black;
    text-align: center;
	margin-left: 175%;
	font-size: 16px;
}

.grid-item-champions-pie-chart {
    height: 150px; /* Adjust the height as needed */
    width: 100%; /* Takes full width of the grid cell */
    background-color: white;
    color: black;
    text-align: center;
	font-size: 16px;
}

.grid-item-champions-text {
    height: 150px; /* Adjust the height as needed */
    width: 125%; /* Takes full width of the grid cell */
    background-color: white;
    color: black;
    text-align: center;
	font-size: 16px;
}

.drivers-text{
	background-color: white;
    color: black;
    text-align: center;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 2%;
}

#stacked_bar_chart {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}